.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main1 main2 main3 aside"
	"footer footer footer footer"
}

header{
	grid-area:header;'

	
	
}

main{
	grid-area:main;
	
	

} 

footer{
	grid-area:footer;

}

nav{
	grid-area:nav;
	background-color: white;
	text-align: Center;
	
	
	

}	

h1{
	grid-area:h1;
	background-color: Red;
	font-size: 200%;
	text-align: Center;
	


}


p{
	grid-area:p;
	text-align: Center;
	background-color: yellow;
	


	                                                           
 

}


h2{
	grid-area:p1;
	text-align: center;
