.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main1 main2 main3 aside"
	"footer footer footer footer"
}

header{
	grid-area:header;
	
}

main{
	grid-area:main;

} 

footer{
	grid-area:footer;
	
}

nav{
	grid-area:nav;

}	
