<!DOCTYPE html>

.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main1 main2 main3 aside"
	"footer footer footer footer"
}

header{
	grid-area:header;'

	
	
}

main{
	grid-area:main;
	
	

} 

footer{
	grid-area:footer;

}

nav{   <!-- här ser du min style på nav --> 
	grid-area:nav;
	background-color: white;
	text-align: Center;
	
	
	

}	

h1{   <!-- Här ser du min style på h1 på startsidan --> 
	grid-area:h1;
	background-color: Red;
	font-size: 200%;
	text-align: Center;
	


}


p{
	grid-area:p;
	text-align: Center;
	background-color: yellow;
	


	                                                           
 

}


h2{
	grid-area:h2;
	background-color: salmon;
	font-size: 200%;
	text-align: Center;
		
}
	

	
	
table{              <!-- här ser du blandannat outline, background color, font size, text allign, border. Alla dessa användes i tabellen --> 
	border-collapse: collapse;
	background-color: Salmon;
	outline: 2px dashed blue;
}

th{                 
   background-color: SeaGreen;
	font-size: 125%; 
	text-align: Center; 
	border: 3px solid black; 

}

	

td{             
	border: 1px solid black; 
	font-size: 130%;
	text-align: Center;
}


  
  
  table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
